@font-face {
    font-family: Roboto;
    src: url(../assets/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoLightItalic;
    src: url(../assets/Roboto/Roboto-LightItalic.ttf);
}
html[color-theme="default"]{
    --color-background : white;
    --color-text : black;
    --color-hover : gainsboro;
    --color-player : royalblue;
    --color-selected: lightblue;
    --color-gr-divider : crimson;
    --color-warn : pink;
    --color-nice : lightgreen;
}
html[color-theme="mocha"]{
    --color-background : #181824;
    --color-text : #cdd6f5;
    --color-hover : #313244;
    --color-player : #b4befd;
    --color-selected: #45485b;
    --color-gr-divider : #f28aa9;
    --color-warn : #f28aa9;
    --color-nice : #94e1d4;
}
html[color-theme="latte"]{
    --color-background : #eff0f2;
    --color-text : #4a4f6b;
    --color-hover : #dce0e9;
    --color-player : #863aed;
    --color-selected: #ccd0db;
    --color-gr-divider : #e44654;
    --color-warn : #cf0f37;
    --color-nice : #239fb1;
}
body{
    user-select: none;
    font-family: Roboto;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
div{
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
}
.header-div{
    width: calc(100vw/3);
}
.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: RobotoLightItalic;
    font-size: 6vh;
}
.game-div{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel{
    display : flex;
    flex-wrap: wrap;
    margin-left: calc((100vw - 80vh)/2);
    margin-right: calc((100vw - 80vh)/2);
    height: 10vh;
    align-items: center;
}
.bottom{
    display : flex;
    flex-wrap: wrap;
    height: 10vh;
    align-items: center;
    padding-left: 25vw;
    padding-right: 25vw;
}
.board{
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
    height: 63.7vh;
    border: 2px solid var(--color-text);
    /*
    background-color: var(--color-accent);
    */
}
.board-sq{
    width :calc(100%/9); /* ? 65vh / 9 = 7.22222vh but i prefer this way better */
    height: calc(100%/9);
    border: 1px solid var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: var(--color-player);
}
.board-sq.set-by-pc{
    color:  var(--color-text);
}
.board-sq:hover{
    background-color: var(--color-hover);
}
.board-sq.vertical-line-left{
    border-left: 2px solid var(--color-gr-divider);
}
.board-sq.vertical-line-right{
    border-right: 2px solid var(--color-gr-divider);
}
.board-sq.horizontal-line-top{
    border-top: 2px solid var(--color-gr-divider);
}
.board-sq.horizontal-line-bottom{
    border-bottom: 2px solid var(--color-gr-divider);
}
.board-sq[selected-sq="true"]
{
    background-color: var(--color-selected);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.2vh;
    height: 8vh;
    width: 8vh;
    margin: auto;
    border: 2px solid var(--color-text);
    border-radius: 1vh;
}
.button:hover{
    box-shadow: var(--color-text) 2px 2px, var(--color-text) -2px 2px, var(--color-text) -2px -2px, var(--color-text) 2px -2px;
}
.break {
    flex-basis: 100%;
    height: 1vh;
  }
.button.func{
    width: 16vh;
    margin: auto;
}
.button.func img{
    width: 6vh;
}
.del, .del-all{
    background-color: var(--color-warn);
}
.submit{
    background-color: var(--color-nice);
}
.header-right{
    display: flex;
}
.dropdown{
    line-height: 190%;
    text-align: center;
    font-size: 2.8vh;
    margin: auto;
    width: 25vh;
}
.drop-hide{
    width: 25vh;
    position: absolute;
    display: none;
}
.drop-item{
    background-color: var(--color-background);
    border: 1px solid var(--color-text);
    border-radius: 1vh;
}
.drop-item:hover{
    border: 2px solid var(--color-text);
}
.drop-item.head{
    background: linear-gradient(45deg, #c79efa66 0%, #8ad6ca66 35%, #efd4a166 100%);;
}
.dropdown:hover{
    .drop-hide{
        display: block;
    }
}
